/* FOOTER */

.footer {
  background: #f3f6fa17;
  padding-top: 70px;
  padding-bottom: 0;
  .footer_copyright {
    color: #1c1c1c;
    font-size: 14px;
    padding-top: 70px;
    padding-bottom: 30px;
  }
  .footer_about {
      ul {
          margin: 0;
          padding: 0;
          li {
          font-size: 16px;
          color: #1c1c1c;
          line-height: 36px;
          list-style: none;
          }
      }
  }
  
  .footer_widget {
    margin-bottom: 30px;
    overflow: hidden;
      h3 {
          color: #1c1c1c;
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 30px;
          text-align: center;
      }
          ul {
            width: 50%;
            float: left;
          li {
            list-style: none;
            font-size: 14px;
            color: #1c1c1c;
            line-height: 36px;
            text-align: center;
            a {
              color: #1c1c1c;
              text-decoration: none;
            }
            :hover {
              color: #36d9eb;
            }
          } 
      }
      form{
        position: relative;
        margin-bottom: 30px;
        input{
          width: 100%;
          font-size: 16px;
          padding-left: 20px;
          color: #1c1c1c;
          height: 46px;
          border: 1px solid #ededed;
        }
        button{
          position: absolute;
          right: 0;
          top: 0;
          padding: 0 26px;
          height: 100%;
        }
        .site-btn{    font-size: 14px;
          color: #ffffff;
          font-weight: 800;
          text-transform: uppercase;
          display: inline-block;
          padding: 10px 20px 10px;
          background: #36d9eb;
          /* border-radius: 0px 10px 10px 0px; */
          border: none;
        }
      }
    }
    .footer_copyright_text {
      margin-top: 30px;
      p {
        margin-bottom: 0;
        font-size: 14px;
        color: #1c1c1c;
        line-height: 26px;
        padding-bottom: 0;
      }
    }
    .footer_right_social {
      text-align: center;
      padding-top: 30px;
      a{
        text-decoration: none;
        margin-right:10px;
        i{
          color: #1c1c1c;
          font-size: 30px;
        }
      }
      :hover {
        text-decoration: none;
        color: #36d9eb;
      }
   }
}






